body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

/*////////// NAVBAR //////////*/
.navbar {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    background-color: white;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}

/* Left Side */
.left-nav {
    display: flex;
    align-items: center;
    gap: 2vw;
}

#logo {
    height: 5vh;
    margin-right: -2vw;
    margin-left: -2.2vw;
    display: flex;
    align-items: center;
}

/* Right Side */
.right-nav {
    display: flex;
    align-items: center;
    gap: 2vw;
}

/* Nav Links */
.nav-link {
    text-decoration: none;
    font-size: 1.8vh;
    color: #202021;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #dc2626;
}

/*////////// PROFILE //////////*/
h1{
    font-size: 3vh;
    padding: 3vh 7.2vw;
    padding-bottom: 1vh;
}


/* INFO SECTIONS */
.info-container {
    max-width: 85vw;
    margin: 3vh auto;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.info-box {
    border: 0.1vh solid #ddd;
    border-radius: 1vh;
    padding: 4vh;
}

.info-box h3 {
    margin: 0 0 3.5vh 0;
    font-size: 2vh;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3vh;
}

.info-grid span{
    font-size: 1.5vh;
}

.info-grid p {
    margin: 0;
    font-size: 1.7vh;
}

#professional-info{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3vh;
}

a {
    color: #3674B5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* EDIT BUTTON */
.edit-container {
    display: flex;
    justify-content: flex-end;
}

.edit-btn {
    background-color: #3674B5;
    color: white;
    padding: 1.5vh 1vw;
    border: none;
    border-radius: 1vh;
    font-size: 1.8vh;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #15589e;
    transition: all ease 0.5s;
}

.fields {
    width: 100%;
    padding: 1vh;
    border: 1px solid #ccc;
    border-radius: 0.5vh;
    font-size: 1.5vh;
    box-sizing: border-box;
}

.full-width {
    width: 100%;
}

.upload-box {
    border: 1px dashed #ccc;
    padding: 2vh;
    text-align: center;
    border-radius: 1vh;
    position: relative;
}

.upload-btn {
    background-color: #3674B5;
    color: white;
    padding: 1vh 2vw;
    border: none;
    border-radius: 1vh;
    margin-top: 1vh;
    cursor: pointer;
    font-size: 1.8vh;
}

.upload-btn:hover {
    background-color: #15589e;
}

.save-btn {
    margin-left: 1vw;
}

.email-container {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.email-wrapper {
    display: flex;
    align-items: center;
    gap: 1vh;
}

.email-field {
    flex: 1;
    min-width: 18vw;
}

.edit-link, .edit-link:hover {
    font-size: 1.4vh;
    color: black;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}

#skills{
    height: 8vh;
    line-height:2.6vh;
}

.custom-file-upload {
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 1.5vh;
}

.choose-file-btn {
    background-color: #cbdcf6;
    color: #3674B5;
    padding: 0.8vh 1vw;
    border-radius: 2vh;
    cursor: pointer;
    font-size: 1.5vh;
}



.file-chosen-text {
    margin-left: 0.5vw;
    font-size: 1.5vh;
    color: #555;
}

.cancel-btn{
    color: black;
    background-color: white;
    border: 0.1vh solid black;
}

.cancel-btn:hover{
    background-color: black;
    color: white;
    transition: all ease 0.5s;
}