body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

/*////////// NAVBAR //////////*/
.navbar {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw; /* Responsive padding */
    background-color: white;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box; /* Prevent overflow from padding */
}

/* Left Side */
.left-nav {
    display: flex;
    align-items: center;
    gap: 2vw;
}

#logo {
    height: 5vh;
    margin-right: -2vw;
    margin-left: -2.2vw;
    display: flex;
    align-items: center;
}

/* Right Side */
.right-nav {
    display: flex;
    align-items: center;
    gap: 2vw;
}

/* Nav Links */
.nav-link {
    text-decoration: none;
    font-size: 1.8vh;
    color: #202021;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #dc2626;
}

/* Employers Link */
#emp {
    color: #dc2626;
    font-weight: bold;
}

/* Divider */
#nav-divider {
    font-size: 1.8vh;
    color: gray;
}

/*////////// SEARCH BAR //////////*/
.searchbar-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    width: 100vw;
    margin-top: 3vh; /* Adjust spacing */
}

.searchbar {
    display: flex;
    align-items: center;
    width: 50vw;
    background: white;
    border: 0.2vh solid #ccc;
    border-radius: 0.8vw;
    overflow: hidden;
    padding: 0.5vw 0.5vw;
}

.searchbar input {
    border: none;
    outline: none;
    padding: 1vh;
    flex: 1;
    font-size: 1.8vh;
}

.icon {
    padding: 0 1vw;
    font-size: 1.8vh;
    color: #202021;
}

.divider {
    height: 3vh;
    width: 2px;
    background: #ccc;
    margin: 0 1vw;
}

.search-btn {
    background: #3674b5;
    color: white;
    border: none;
    padding: 1vh 2vw;
    font-size: 1.8vh;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.8vh;
}

.search-btn:hover {
    background: #3674b5;
}

/*////////// HERO SECTION //////////*/
.hero {
    width: 100vw;
    text-align: center;
    padding: 2vh 0;
}

#catchphrase {
    font-size: 4vh;
    font-weight: bold;
    margin-bottom: 1vh;
}

#company {
    color: #dc2626;
    font-weight: bold;
}

#subtitle {
    font-size: 2vh;
    color: #555;
    margin-bottom: 3vh;
}

.auth-buttons {
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#sign-in {
    padding: 1.7vh 2vw;
    border: 0.3vh solid #3674b5;
    background: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    color:#3674b5;
    font-size: 2vh;
}

#sign-in:hover {
    background: #3674b5;
    color: white;
    transition: all ease 0.2s;
}

#register {
    text-decoration: none;
    color: #3674b5;
    font-size: 2vh;
}

/*////////// EVENTS //////////*/
.events {
    padding: 1vh 5vw;
}

#event {
    font-size: 2.5vh;
    font-weight: 700;
    margin-bottom: 3vh;
}

/* Event Container */
.event-container {
    display: flex;
    gap: 2vw;
    justify-content: left;
    width: 90vw;
    white-space: normal;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.event-container::-webkit-scrollbar {
    display: none;
}

/* Event Card */
.event-card {
    width: 20vw;
    border-radius: 0vh;
    border: 0.1vh solid #ccc;
    overflow: hidden;
    background: white;
    transition: transform 0.3s ease-in-out;
    flex: 0 0 auto;
}

/* Event Image */
.event-image{
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

/* Event Content */
.event-content {
    padding: 0vh 1vw;
}

.event-title {
    font-size: 2vh;
    font-weight: bold;
    margin-bottom: 1vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.event-date{
    font-size: 1.5vh;
    color: gray;
    word-wrap: break-word;
    overflow-wrap: break-word;}

.event-price{
    font-size: 1.7vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.event-company {
    font-size: 1.7vh;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;}

.event-followers {
    font-size: 1.7vh;
    color: #555;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    word-wrap: break-word;
    overflow-wrap: break-word;}

.event-followers i {
    color: gray;
    word-wrap: break-word;
    overflow-wrap: break-word;}

.event-promoted {
    margin-top: 1.8vh;
    font-size: 1.5vh;
    color: #888;
    word-wrap: break-word;
    overflow-wrap: break-word;
    align-items: center;
}

.event-promoted i{
    font-size: 1.5vh;
    line-height: 1;
    position: relative;
    top: 0.2vh;
}

/*////////// JOBS //////////*/
.jobs {
    width: 100vw;
    padding: 10vh 0;
    margin-left: 0vw; /* Aligns with the job cards */
    text-align: center; /* Align text to the left */
}

#find {
    font-size: 2.5vh;
    font-weight: 700;
}

#sub {
    font-size: 1.8vh;
    color: #555;
    margin-bottom: 3vh;
}

/* Scrollable Job Listings */
.jobs-container {
    display: flex;
    width: 90vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 2vw;
    padding: 2vh 0;
    white-space: nowrap;
    box-sizing: border-box;
    margin-left: 5vw;
    scroll-behavior: smooth;
}

.jobs-container::-webkit-scrollbar {
    display: none;
}

/* Job Cards */
.job-card {
    flex: 0 0 auto;
    width: 20vw;
    background-color: #fff;
    border-radius: 0vh;
    border: 0.1vh solid #ccc;
    padding: 2vh;
    scroll-snap-align: start;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; /* Ensures text wraps */
    overflow: hidden;
}

/* Title and Logo Container */
.job-header {
    display: flex;
    align-items: center;
    gap: 1vw; /* Space between logo and title */
}

/* Job Logo */
.job-logo {
    height: 4vh; /* Adjust size to fit inside the box */
    width: 4vh; 
    object-fit: contain; /* Prevents stretching */
}

/* Job Title */
.job-title {
    font-size: 2vh;
    font-weight: bold;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.jobs span{
    color: #dc2626;
}

.job-location,
.job-salary,
.job-experience,
.job-type {
    font-size: 1.5vh;
    color: #202021;
    overflow-wrap: break-word;

}

/* Browse More Button */
.browse-more {
    display: block;
    width: fit-content;
    margin-top: 1vh;
    padding: 1.5vh 1vw;
    font-size: 2vh;
    font-weight: 600;
    text-decoration: none;
    color: #202021;
    border: 0.2vh solid #202021;
    border-radius: 1vh;
    transition: all 0.3s ease;
    text-align: left;
    margin-left: 5vw;
}
.browse-more:hover {
    background-color: black;
    color: white;
}


/*////////// ABOUT //////////*/
.about {
    width: 100vw;
    height: 80vh;
    margin-top: 7vh;
    background-color: #3a3a3a; /* Dark background for contrast */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 10vw;
    box-sizing: border-box;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 5vw;
}

.about-img {
    width: 35vw;
    border-radius: 10px;
    border: 0.5vh solid #ccc;
}

.about-text {
    max-width: 20vw;
}

.about-text h2 {
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 1vh;
}

.about-text p {
    font-size: 2vh;
    line-height: 1.5;
    font-weight: 200;
}

/*////////// BLOG //////////*/
.blog{
    height: 70vh;
    padding: 10vh 5vw;
}

.blogs{
    text-align: left;
    color: #dc2626;
}

.blog-container{
    display: flex;
    gap: 2vw;
    justify-content: left;
    width: 90vw;
    white-space: normal;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.blog-container::-webkit-scrollbar {
    display: none;
}

.blog-card{
    width: 20vw;
    border-radius: 0vh;
    border: 0.1vh solid #ccc;
    overflow: hidden;
    background: white;
    transition: transform 0.3s ease-in-out;
    flex: 0 0 auto;
}

.blog-content {
    padding: 0vh 1vw;
}

.blog-image{
    width: 100%;
}

.blog-title{
    color: #202021;
    font-size: 2vh;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.blog-description{
    margin-top: 1vh;
    font-size: 1.8vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.read-more{
    background-color: #dc2626;
    color: white;
    font-size: 1.5vh;
    margin-bottom: 2vh;
    padding: 1vh;
    border-radius: 0.5vh;
    border: none;
}


/*////////// FOOTER //////////*/
.footer {
    background: #111;
    color: white;
    padding: 4vh 5vw;
    font-size: 1vw;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    width: 40vw;
}

.footer-right {
    display: flex;
    gap: 5vw;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.footer-section h3 {
    font-size: 1.2vw;
}

.footer-section a {
    color: white;
    text-decoration: none;
    font-size: 1.8vh;
}

.footer-left p {
    font-size: 1.8vh;
}

#copyright{
    font-size: 1.5vh;
    margin-bottom: 0;
}

.footer-bottom {
    text-align: left;
    margin-top: 2vh;
    border-top: 0.1vh solid gray;
    padding-top: 2vh;
    font-size: 1.5vh;
}

.footer-bottom a {
    color: white;
    margin: 0 0.1vw;
    text-decoration: none;
}

.social-icons {
    display: flex;
    gap: 1vw;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.2vw;
    color: white; /* Icon color */
}

.facebook { 
    background-color: #1877F2; 
}

.linkedin { 
    background-color: #0077B5;
    border-radius: 20% !important;
}  

.twitter { 
    background-color: #1DA1F2;
}

.social-icons a:hover {
    opacity: 0.6;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer a:hover {
    text-decoration: none;
    opacity: 0.6;
    transition: all ease 0.2s;
}

/*////////// MOBILE //////////*/
@media (max-width: 768px) {
    body{
        margin-top: 8vh;
    }

    /* NAV */

    .navbar {
        height: 8vh;
        max-width: 100vw;
        box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        box-sizing: border-box;
    }

    #logo{
        height: 3vh;
    }

    .nav-link{
        font-size: 1.4vh;
    }

    /* SEARCH */
    .searchbar-container{
        width: 100%;
        padding: 0 1vw;
    }

    .searchbar{
        margin-top: 3vh;
        width: 100%;
        max-width: 95vw;
    }
    
    /* Adjust input widths */
    .searchbar input#job-title {
        width: 50%; /* Adjust width of job title input */
    }

    .searchbar input#location {
        width: 30%; /* Adjust width of location input */
    }

    /* Adjust search button width */
    .searchbar .search-btn {
        width: 15%; /* Adjust width of search button */
        font-size: 1.5vh;
    }

    

    /* HERO SECTION */
    .hero{
        width:90vw;
        margin: 0 auto;
    }

    #catchphrase{
        font-size: 2.5vh;
        overflow-wrap:break-word;
    }

    #subtitle{
        font-size: 1.8vh;
    }

}
